

@import url(
    "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }
    
    body {
    background-color: #cad7fda4;
    max-width: 100%;
    overflow-x: hidden;
    }
    
    .main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 70px;
    z-index: 1;
    }
    
    
    .main {
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 30px 30px 30px;
    }
    
    .box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    }
    .nav {
    min-height: 100vh;
    width: 250px;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    left: 00;
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
    }
    .navcontainer {
    height: calc(100vh - 70px);
    width: 250px;
    position: relative;
    transition: all 0.5s ease-in-out;
    }
    
    
    .nav-option {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
    }
    .nav-option:hover {
    border-left: 5px solid #a2a2a2;
    background-color: #dadada;
    cursor: pointer;
    }
    
    .nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    }
    
    .option1 {
    border-left: 5px solid #010058af;
    background-color:#3f0097;
    color: white;
    cursor: pointer;
    }
    
    .box {
    height: 130px;
    width: 230px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    }
    .box:hover {
    transform: scale(1.08);
    }
    
    .box:nth-child(1) {
    background-color: #3f0097;
    }
    .box:nth-child(2) {
    background-color: #5500cb;
    }
    .box:nth-child(3) {
    background-color: #3f0097;
    }
    
    .box .text {
    color: white;
    }
    .topic {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    }
    
    .box-container .print{
        align-items: center;
        display: flex;
        padding: 0px 90px 0px 100px;
    }